# Visual Studio project files.
SpamBot.pyproj
SpamBot.sln
.vs

# Data.
Data/Sessions
Targets.xlsx
Attachments

# Telegram session files.
SpamBot.session-journal
SpamBot.session

# Python cache.
__pycache__