# Скрипт инициализации сервиса SpamBot.
#==========================================================================================#
# {Application Directory} – путь к директории с исполняемым файлом.

[Unit]
Description=SpamBot
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={Application Directory}
ExecStart=source .venv/bin/activate && python3 main.py
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target